.header {
  padding: 30px 0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  column-gap: 30px;
}
.header__logotype {
}
.header__search {
  display: flex;
  align-items: center;
  column-gap: 30px;

  max-width: 1000px;
  width: 100%;

  padding: 16px;

  border-radius: 10px;
  background: rgb(35, 35, 37);

  input {
    width: 100%;
    color: rgb(138, 138, 138);
  }

  input::placeholder {
    color: rgb(138, 138, 138);
    text-transform: uppercase;
  }
}
.header__acc {
}
